// Theme base colors
$primary: #192136;
$primary-80: #1d263d;
$primary-60: #616e91;
$primary-40: #95a1be;
$primary-20: #f4f6fb;
$primary-0: #ffffff;

// Notifications colors
$alert: #dc2e2e;
$success: #1c8753;

// Brand colors options
$blue: #4d8bff;
$green: #01d892;
$orange: #ff6908;
$pink: #ff64e8;
$purple: #bf6cfe;
$red: #ff5266;
$yellow: #ffcc01;
